#pageBraces2Teeth {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

#pageBraces2Teeth #pageTitle {
  font-size: 24px;
}

#verticalLine {
  margin-left: 30px;
}

#componentUploadImage {
  margin: 0px;
}

#componentUploadImage #link {
  color: rgb(0, 122, 255);
}

#componentUploadImage #link:hover {
  text-decoration: underline;
}

#componentExcuteModel {
  margin: 0px;
}

#componentExcuteModel #link {
  color: rgb(0, 122, 255);
}

#componentExcuteModel #link:hover {
  text-decoration: underline;
}

#image {
  height: 256px;
  width: 256px;
}

.mirror-effect {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.margin-bottom-0 {
  margin-bottom: 0px;
  font-weight: bold;
}

.margin-top-10 {
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 767px) {
  #componentUploadImage #image {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  #verticalLine {
    height: 0px;
  }
}
